.header_wrap_index_box {
  display: flex;
  align-items: center;
  //   align-self: stretch;
  width: 100%;
  //   padding-top: 0.3rem;
  //   padding-bottom: 0.3rem;

  .back_box {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    margin-right: 1rem;
    cursor: pointer;
    width: max-content;

    &:hover {
      .img_box {
        transform: translateX(-0.15rem);
      }
    }

    .text {
      color: rgba(110, 124, 135, 1);
      font-size: 0.8rem;
      font-weight: 500;
    }

    .img_box {
      width: 1.7rem;
      height: 1.7rem;
      transition: all 0.3s ease-in-out;

      .img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .title_box {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: auto;

    .title {
      color: rgba(37, 44, 50, 1);
      font-size: 0.8rem;
      font-weight: 400;
    }

    .title:last-child {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .search_box {
    display: flex;
    align-items: center;
    background-color: rgba(244, 245, 247, 1);
    border-radius: 0.4rem;
    padding: 0rem 0.5rem;
    border: 0.1rem solid rgba(244, 244, 244, 1);
    background-color: rgba(244, 245, 247, 1);

    .search_input {
      width: 15rem;
      background-color: transparent;
      padding: 0.35rem;

      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  .notification_box {
    width: 2.3rem;
    height: 2.3rem;
    margin-left: 1.5rem;
    border-radius: 50%;
    border: 0.1rem solid rgba(244, 244, 244, 1);
    background-color: rgba(244, 245, 247, 1);
    display: grid;
    place-items: center;
    position: relative;

    .img_box {
      width: 85%;
      height: 85%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .profile_wrap_box {
    position: relative;
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    border-left: 0.12rem solid rgba(244, 244, 244, 1);
    align-self: stretch;
    display: flex;
    align-items: center;
    cursor: pointer;

    .img_drop_box {
      display: flex;
      align-items: center;
      gap: 0.3rem;

      .profile_img_box {
        width: 2.3rem;
        height: 2.3rem;
        // background-color: red;
        border-radius: 50%;

        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .img_box {
        width: 1rem;
        height: 1rem;
        // background-color: red;

        .img {
          width: 80%;
          height: 80%;
          object-fit: contain;
        }
      }
    }

    .drop_profile_box {
      position: absolute;
      top: 110%;
      right: 0;
      width: 17rem;
    //   min-height: 10rem;
      background-color: #ffffff;
      border-radius: 0.6rem;
      border: 0.15rem solid rgba(244, 244, 244, 1);
      animation: moveDownSettingDrop 0.5s ease-in-out backwards;
      box-shadow: 0.1rem 0.1rem 4rem 0.1rem rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 1rem;

      .middle_options_box {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        border-bottom: 0.08rem solid rgba(229, 233, 235, 1);
        padding-bottom: 1rem;

        .item_row {
          display: flex;
          align-items: center;
          gap: 0.25rem;

          .name {
            color: rgba(90, 91, 95, 1);
            font-size: 0.85rem;
            transform: translateY(-0.15rem);
          }

          .img_box {
            width: 1.5rem;
            height: 1.5rem;

            .img {
              width: 80%;
              height: 80%;
              object-fit: contain;
            }
          }
        }
      }

      .switch_box {
        width: max-content;
        .switch {
          font-size: 0.65rem;
          color: var(--primary-color);
        }
      }

      .img_name_box {
        display: flex;
        align-items: center;
        border-bottom: 0.08rem solid rgba(229, 233, 235, 1);
        padding-bottom: 1rem;
        gap: 0.5rem;

        .profile_img_box {
          width: 2.6rem;
          height: 2.6rem;
          // background-color: red;
          border-radius: 50%;

          .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .name_role_box {
          display: flex;
          flex-direction: column;

          .name {
            font-weight: 500;
            font-size: 1rem;
            color: rgba(0, 0, 0, 1);
          }

          .role {
            font-size: 0.65rem;
            color: rgba(110, 124, 135, 1);
          }
        }
      }
    }
  }
}

@keyframes moveDownSettingDrop {
  0% {
    transform: translateY(-5%);
    opacity: 0.6;
    // visibility: hidden;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    // visibility: ;
  }
}
