.side_menu_nav_box_index_wrap {
  flex: 1;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.side_menu_nav_box_index_wrap::-webkit-scrollbar {
  display: none;
}
.side_menu_nav_box_index_wrap .logo_collapse_box {
  margin-top: -0.4rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.side_menu_nav_box_index_wrap .logo_collapse_box .img_box {
  cursor: pointer;
}
.side_menu_nav_box_index_wrap .logo_collapse_box .img_box .img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.side_menu_nav_box_index_wrap .logo_collapse_box .logo_box {
  width: 5rem;
  height: 2rem;
}
.side_menu_nav_box_index_wrap .logo_collapse_box .logo_box_closed {
  width: 3.5rem;
  height: 3.5rem;
}
.side_menu_nav_box_index_wrap .logo_collapse_box .collapse_box {
  width: 1.2rem;
  height: 1.2rem;
  transition: rotate 0.3s ease-in-out;
}
.side_menu_nav_box_index_wrap .logo_collapse_box .collapse_box_right {
  transform: rotate(-180deg);
  width: 1.6rem;
  height: 1.6rem;
}
.side_menu_nav_box_index_wrap .logo_collapse_box .logo_name_box {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  gap: 0.4rem;
}
.side_menu_nav_box_index_wrap .logo_collapse_box .logo_name_box .name {
  text-transform: capitalize;
  font-size: 0.8rem;
}
.side_menu_nav_box_index_wrap .logo_collapse_box .logo_name_box .logo_box {
  width: 4rem;
  height: 3.3rem;
}
.side_menu_nav_box_index_wrap .logo_collapse_box .logo_name_box .logo_box .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.side_menu_nav_box_index_wrap .logo_collapse_box .logo_name_box .logo_box_two {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 0.5rem;
  display: grid;
  place-items: center;
  background-color: rgb(246, 248, 249);
  border-radius: 50% !important;
}
.side_menu_nav_box_index_wrap .logo_collapse_box .logo_name_box .logo_box_two span {
  font-weight: 600;
}
.side_menu_nav_box_index_wrap .logo_collapse_box_closed {
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  justify-content: center;
}
.side_menu_nav_box_index_wrap .logo_collapse_box_closed .collapse_box {
  order: -1;
}
.side_menu_nav_box_index_wrap .logo_collapse_box_closed .logo_name_box {
  margin-top: 0.65rem;
}
.side_menu_nav_box_index_wrap .logo_collapse_box_closed .logo_name_box .logo_box {
  width: 3rem;
  height: 2.8rem;
}
.side_menu_nav_box_index_wrap .nav_link_list_box {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.side_menu_nav_box_index_wrap .nav_link_list_box::-webkit-scrollbar {
  display: none;
}
.side_menu_nav_box_index_wrap .support_wrap_box {
  margin-top: 1rem;
  border-radius: 0.4rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.75rem;
}
.side_menu_nav_box_index_wrap .support_wrap_box .logo_box {
  align-self: center;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
}
.side_menu_nav_box_index_wrap .support_wrap_box .logo_box .img {
  width: 5rem;
  height: 1.3rem;
}
.side_menu_nav_box_index_wrap .support_wrap_box .img_title_box {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #ffffff;
}
.side_menu_nav_box_index_wrap .support_wrap_box .img_title_box .num_box {
  border-radius: 0.4rem;
  padding: 0.15rem 0.25rem;
  position: relative;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  position: relative;
}
.side_menu_nav_box_index_wrap .support_wrap_box .img_title_box .num_box > * {
  position: relative;
  z-index: 3;
}
.side_menu_nav_box_index_wrap .support_wrap_box .img_title_box .num_box .num {
  width: 75%;
  height: 50%;
  background-color: var(--primary-color);
  display: grid;
  place-items: center;
  transform: translateY(-0.2rem);
}
.side_menu_nav_box_index_wrap .support_wrap_box .img_title_box .num_box .before {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.side_menu_nav_box_index_wrap .support_wrap_box .img_title_box .num_box .before .img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.side_menu_nav_box_index_wrap .support_wrap_box .img_title_box .num_box span {
  color: #ffffff;
  font-weight: 600;
  font-size: 0.7rem;
}
.side_menu_nav_box_index_wrap .support_wrap_box .img_title_box .title {
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: -0.15rem;
}
.side_menu_nav_box_index_wrap .support_wrap_box .text {
  color: #ffffff;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.6rem;
}
.side_menu_nav_box_index_wrap .support_wrap_box .btn_support {
  background-color: #ffffff;
  color: var(--primary-color);
  padding: 0.6rem 0rem !important;
  font-size: 0.7rem;
  border-radius: 0.4rem;
}
.side_menu_nav_box_index_wrap .support_wrap_box .btn_support_outline {
  background-color: var(--primary-color);
  color: #ffffff;
  border: 0.06rem solid #ffffff;
}
.side_menu_nav_box_index_wrap .support_wrap_box_closed {
  padding: 0.5rem 0.4rem;
  cursor: pointer;
}
.side_menu_nav_box_index_wrap .nav_list_fragment {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.07rem solid rgb(229, 233, 235);
}
.side_menu_nav_box_index_wrap .nav_list_fragment .title_collapse_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .title_collapse_box .title {
  margin-left: 0.5rem;
  font-size: 0.6rem;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .title_collapse_box:hover .title_closed {
  transform: scale(1) translateY(-100%) translateX(-50%);
}
.side_menu_nav_box_index_wrap .nav_list_fragment .title_collapse_box .title_closed {
  position: absolute;
  top: 0%;
  left: 50%;
  font-size: 0.35rem;
  background-color: var(--primary-accent-color);
  padding: 0.2rem;
  color: var(--primary-color);
  border-radius: 0.2rem;
  font-weight: 500;
  width: 2.5rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  transform: translateY(-100%) translateX(-50%) scaleY(0);
  transition: transform 0.5s;
  transform-origin: center bottom;
  text-align: center;
  word-wrap: break-word;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .title_collapse_box .drop_icon .img_box {
  width: 0.85rem;
  height: 0.85rem;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .title_collapse_box .drop_icon .img_box svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .title_collapse_box .drop_icon_right {
  transform: rotate(-90deg) !important;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .title_collapse_box_closed {
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.3s linear-bezier(0, 1.05, 0, 1);
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  width: 100%;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link {
  display: flex;
  align-items: center !important;
  gap: 0.5rem;
  padding: 0.4rem 0.6rem;
  position: relative;
  cursor: pointer;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link:hover::before {
  transition: transform 0.2s ease-in, width 0.3s ease-in-out 0.2s;
  transform: scaleY(1);
  width: 100%;
  background-color: var(--primary-accent-color);
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link:hover .name {
  color: var(--primary-color);
  font-weight: 500;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link > * {
  position: relative;
  z-index: 3;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link .name {
  font-size: 0.7rem;
  color: rgb(90, 91, 95);
  display: inline-block;
  transition: color 0.3s ease-in 0.2s;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link:hover .name_closed {
  transform: scale(1) translateY(-100%) translateX(-50%);
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link:hover .name_closed:first-child {
  transform: scale(1) translateY(100%) translateX(-50%);
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link .name_closed {
  position: absolute;
  top: 0%;
  left: 50%;
  font-size: 0.35rem;
  background-color: var(--primary-accent-color);
  padding: 0.2rem;
  color: var(--primary-color);
  border-radius: 0.2rem;
  font-weight: 500;
  width: 2.5rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  transform: translateY(-100%) translateX(-50%) scaleY(0);
  transition: transform 0.5s;
  transform-origin: center bottom;
  text-align: center;
  word-wrap: break-word;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link .name_closed:first-child {
  top: unset;
  bottom: 0%;
  transform: translateY(100%) translateX(-50%) scaleY(0);
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link::before {
  content: "";
  z-index: 2;
  position: absolute;
  width: 0.3rem;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-accent-color);
  border-radius: 0.4rem;
  transform: scaleY(0);
  transform-origin: bottom;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link .icon_box {
  align-self: center;
  width: 1.7rem;
  height: 1.7rem;
  display: grid;
  place-items: center;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link .icon_box .img,
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link .icon_box svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.3s ease-in-out 0.2s;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_closed .name {
  display: none !important;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_active {
  cursor: default;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_active::before {
  background-color: var(--primary-accent-color) !important;
  transform: scaleY(1);
  width: 100%;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_active .name {
  color: var(--primary-color);
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_active .icon_box svg path {
  fill: var(--primary-color);
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_active .icon_box svg .path-two {
  stroke: var(--primary-color) !important;
  fill: unset !important;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .nav_link_closed {
  display: none;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .nav_link_title {
  cursor: pointer;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .nav_link_title:hover::before {
  visibility: hidden;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .nav_link_title:hover .drop_icon {
  visibility: visible;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .nav_link_title .name {
  color: unset !important;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .nav_link_active::before {
  visibility: hidden;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .nav_link_active .name {
  color: unset;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .nav_link_active .icon_box svg path {
  stroke: unset;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .nav_link_active_child::before {
  visibility: visible !important;
  background-color: var(--primary-accent-color) !important;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .nav_link_active_child .name {
  color: var(--primary-color) !important;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .drop_icon {
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .drop_icon .img_box {
  width: 0.85rem;
  height: 0.85rem;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .drop_icon .img_box svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .drop_icon_right {
  transform: rotate(-90deg) !important;
  visibility: visible;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .children_collapse_box {
  position: relative;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.3s linear-bezier(0, 1.05, 0, 1);
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  width: 100%;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .children_collapse_box::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(1.36rem);
  left: 0;
  height: 115%;
  width: 0.07rem;
  background-color: rgb(229, 233, 235);
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .children_collapse_box .children_list_box {
  display: flex;
  flex-direction: column;
  margin-left: 2.2rem;
  margin-top: 0.4rem;
  gap: 0.5rem;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .children_collapse_box .children_list_box .nav_link_active {
  background-color: var(--primary-accent-color);
  cursor: default;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .children_collapse_box .children_list_box .nav_link_active::before {
  transform: scaleY(1);
  width: 100%;
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .children_collapse_box .children_list_box .nav_link_active .name {
  color: var(--primary-color);
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box .nav_link_children_type .children_collapse_box_show {
  max-height: 15rem;
  transition: max-height 0.3s linear-bezier(0, 1.05, 0, 1);
}
.side_menu_nav_box_index_wrap .nav_list_fragment .nav_link_box_wrap .nav_link_box_show {
  max-height: 30rem;
  transition: max-height 0.3s linear-bezier(0, 1.05, 0, 1);
}
.side_menu_nav_box_index_wrap .nav_list_fragment:last-child {
  border: unset;
}/*# sourceMappingURL=SideMenuNavBox.module.css.map */