.side_menu_nav_box_index_wrap {
  flex: 1;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .logo_collapse_box {
    margin-top: -0.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .img_box {
      cursor: pointer;
      .img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .logo_box {
      width: 5rem;
      height: 2rem;
    }

    .logo_box_closed {
      width: 3.5rem;
      height: 3.5rem;
    }

    .collapse_box {
      width: 1.2rem;
      height: 1.2rem;
      transition: rotate 0.3s ease-in-out;
    }

    .collapse_box_right {
      transform: rotate(-180deg);

      width: 1.6rem;
      height: 1.6rem;
    }
  }

  .logo_collapse_box_closed {
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    justify-content: center;

    .collapse_box {
      order: -1;
    }
  }

  .nav_link_list_box {
    flex: 1;
    // background-color: red;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .support_wrap_box {
    margin-top: 1rem;
    // height: 12rem;
    border-radius: 0.4rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    gap: 0.75rem;

    .img_title_box {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: #ffffff;

      .num_box {
        // border: 0.25rem solid #ffffff;
        border-radius: 0.4rem;
        padding: 0.15rem 0.25rem;
        position: relative;
        width: 2rem;
        height: 2rem;
        display: grid;
        place-items: center;
        position: relative;
        // clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 80% 80%, 50% 100%, 20% 80%, 0% 70%);

        & > * {
          position: relative;
          z-index: 3;
        }

        .num {
          width: 75%;
          height: 50%;
          background-color: var(--primary-color);
          display: grid;
          place-items: center;
          transform: translateY(-0.2rem);
        }

        .before {
          position: absolute;
          top: 0%;
          left: 0%;
          height: 100%;
          width: 100%;
          z-index: 2;

          .img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
          //   background-image: url;
        }

        span {
          color: #ffffff;
          font-weight: 600;
          font-size: 0.7rem;
        }
      }

      .title {
        font-weight: 600;
        font-size: 0.8rem;
        margin-top: -0.15rem;
      }
    }

    .text {
      color: #ffffff;
      margin-top: -0.5rem;
      margin-bottom: 0.5rem;
      font-size: 0.6rem;
    }

    .btn_support {
      background-color: #ffffff;
      color: var(--primary-color);
      padding: 0.8rem 0rem !important;
      font-size: 0.85rem;
      border-radius: 0.4rem;
    }
  }

  .support_wrap_box_closed {
    display: none;
  }

  .nav_list_fragment {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    // gap: 2.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.07rem solid rgba(229, 233, 235, 1);

    .title_collapse_box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
      cursor: pointer;
      position: relative;

      .title {
        margin-left: 0.5rem;
        font-size: 0.6rem;
      }

      &:hover .title_closed {
        transform: scale(1) translateY(-100%) translateX(-50%);
      }

      .title_closed {
        position: absolute;
        top: 0%;
        left: 50%;
        font-size: 0.35rem;
        background-color: var(--primary-accent-color);
        padding: 0.2rem;
        color: var(--primary-color);
        border-radius: 0.2rem;
        font-weight: 500;
        width: 2.5rem;
        height: max-content;
        transform: translateY(-100%) translateX(-50%) scaleY(0);
        transition: transform 0.5s;
        transform-origin: center bottom;
        text-align: center;
        word-wrap: break-word;
      }

      .drop_icon {
        .img_box {
          width: 0.85rem;
          height: 0.85rem;

          svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .drop_icon_right {
        transform: rotate(-90deg) !important;
      }
    }

    .title_collapse_box_closed {
      flex-direction: column;
      gap: 0.3rem;
      align-items: center;
    }

    .nav_link_box_wrap {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      .nav_link_box {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-height: 0;
        // overflow-x: hidden;
        overflow-y: hidden;
        transition: max-height 0.3s linear-bezier(0, 1.05, 0, 1);
        -webkit-transition: max-height 0.3s;
        -moz-transition: max-height 0.3s;
        width: 100%;
        // background-color: green;

        .nav_link {
          display: flex;
          align-items: center !important;
          gap: 0.5rem;
          padding: 0.4rem 0.6rem;
          position: relative;
          cursor: pointer;
          //   background-color: var(--primary-accent-color);

          &:hover {
            &::before {
              transition: transform 0.2s ease-in, width 0.3s ease-in-out 0.2s;
              transform: scaleY(1);
              width: 100%;
            }

            .name {
              color: #ffffff;
            }

            .icon_box {
              svg {
                path {
                  stroke: #ffffff;
                  //   fill: #ffffff
                }
              }
            }
          }

          & > * {
            position: relative;
            z-index: 3;
          }

          .name {
            font-size: 0.7rem;
            color: rgba(90, 91, 95, 1);
            display: inline-block;
            transition: color 0.3s ease-in 0.2s;
          }

          &:hover .name_closed {
            transform: scale(1) translateY(-100%) translateX(-50%);
          }

          &:hover .name_closed:first-child {
            transform: scale(1) translateY(100%) translateX(-50%);
          }

          .name_closed {
            position: absolute;
            top: 0%;
            left: 50%;
            font-size: 0.35rem;
            background-color: var(--primary-accent-color);
            padding: 0.2rem;
            color: var(--primary-color);
            border-radius: 0.2rem;
            font-weight: 500;
            width: 2.5rem;
            height: max-content;
            transform: translateY(-100%) translateX(-50%) scaleY(0);
            transition: transform 0.5s;
            transform-origin: center bottom;
            text-align: center;
            word-wrap: break-word;
          }

          .name_closed:first-child {
            top: unset;
            bottom: 0%;
            transform: translateY(100%) translateX(-50%) scaleY(0);
          }

          &::before {
            content: "";
            z-index: 2;
            position: absolute;
            width: 0.3rem;
            height: 100%;
            top: 0;
            left: 0;
            background-color: var(--primary-color);
            border-radius: 0.4rem;
            transform: scaleY(0);
            transform-origin: bottom;
          }

          .icon_box {
            align-self: center;
            width: 1.7rem;
            height: 1.7rem;
            display: grid;
            place-items: center;

            .img,
            svg {
              width: 100%;
              height: 100%;
              object-fit: contain;
              transition: all 0.3s ease-in-out 0.2s;
            }
          }
        }

        .nav_link_active {
          // background-color: red !important;
          cursor: default;
          &::before {
            transform: scaleY(1);
            width: 100%;
          }

          .name {
            color: #ffffff;
          }

          .icon_box {
            svg {
              path {
                stroke: #ffffff;
                //   fill: #ffffff
              }
            }
          }
        }

        .nav_link_closed {
          .name {
            display: none !important;
          }
        }
      }

      .nav_link_box_show {
        max-height: 30rem;
        transition: max-height 0.3s linear-bezier(0, 1.05, 0, 1);
      }
    }
  }

  .nav_list_fragment:last-child {
    border: unset;
  }
}
