@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.sidebar-item {
  position: relative;
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 4px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body {
  --inv: rgba(255, 255, 255, 0.1);
  background: rgb(244, 244, 244);
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: light;
}

.scroll-hidden::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: transparent;
}

.customScrollbar::-webkit-scrollbar {
  display: none;
}

.customScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: inherit !important;
  font-family: "Lexend", sans-serif;
  border: 1px solid rgb(229, 233, 235) !important;
}

input:-webkit-autofill:hover {
  border: 1px solid rgb(229, 233, 235) !important;
  font-family: "Lexend", sans-serif;
}

.sidebar-item:before,
.sidebar-item:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.sidebar-item:hover {
  transition-delay: 0.5s;
}

.sidebar-item:hover:before {
  transition-delay: 0s;
}

.sidebar-item:hover:after {
  background: var(--inv);
  border-radius: 4px;
  transition-delay: 0.35s;
}

.slide-anime:before,
.slide-anime:after {
  top: 0;
  width: 0;
  height: 100%;
}

.slide-anime:before {
  right: 0;
  border: 1px solid var(--inv);
  border-left: 0;
  border-right: 0;
  border-radius: 4px;
}

.slide-anime:after {
  left: 0;
}

.slide-anime:hover:before,
.slide-anime:hover:after {
  width: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 205, 10%, 48%;
    /* --foreground: 240 10% 3.9%; */
    --card: 0 0% 100%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 180, 100%, 25%;
    --primary: 180, 100%, 25%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 205, 10%, 48%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}
:root {
  --text-color: #6e7c87;
  --text-color2: #9aa6ac;
  --text-color3: #162238;
  --text-color4: #5a5b5f;
  --btn-color: #008080;
  --btn-second: #f8ffff;
  --bg-primary-05: rgba(0, 128, 128, 0.1);
  --btn-hover-backgroundColor: #339e8d;
  --btn-solid-color: #fff;
  --btn-light-color: #f4f4f4;
  --hover-color: #ffffff;
  --text-size: 15px;
  --shadow-color: #95b5c9;
  --footer-link-color: #3e4345;
  --error-color: #cc0905;
  --input-bg: #f6f8f9;
  --input-border: #e5e9eb;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #008080;
  --primary-accent-color: rgba(0, 128, 128, 0.1);
}

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px var(--btn-solid-color);
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--footer-link-color);
}

/* additional setup start ------------------------ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
}

/* additional setup end ------------------------ */
input[type=radio] {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #6e7c87;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: border 0.3s ease;
}
input[type=radio]:checked {
  border: 1px solid var(--primary-color);
}
input[type=radio]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.color-picker-wrapper-index {
  position: absolute;
  top: 0%;
  left: 105%;
  transform: translateY(-80%);
}

.color-picker-input-field {
  padding-left: 0.4rem;
}
.color-picker-input-field:focus {
  outline: none;
  border: none;
}

.rcp-fields-element-input {
  transform: translateX(-105%) translateY(-0.35rem);
  width: 70%;
  height: 2rem;
  border: none !important;
}

.rcp-fields-element-label {
  display: none;
}

.global_sticky_class {
  position: sticky !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 10 !important;
}

.date-picker .rmdp-week-day {
  color: var(--primary-color) !important;
}

.rmdp-arrow-container:hover {
  background-color: var(--primary-color) !important;
}

.date-picker .rmdp-arrow {
  border-color: var(--primary-color) !important;
}

.rmdp-arrow-container:hover .rmdp-arrow {
  border: solid #ffffff !important;
  border-width: 0 2px 2px 0;
}

.date-picker .rmdp-day:not(.rmdp-day-hidden) span:hover,
.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: var(--primary-color) !important;
}
@media only screen and (min-width: 48em) {
  .date-picker .rmdp-day:not(.rmdp-day-hidden) span:hover,
  .rmdp-day.rmdp-selected span:not(.highlight) {
    background-color: var(--primary-color) !important;
  }
}

#nprogress .bar {
  background: #29d !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #29d, 0 0 5px #29d !important;
}

#nprogress .spinner-icon {
  border-top-color: #29d !important;
  border-left-color: #29d !important;
}

.preview-reusable-box-table {
  max-height: calc(100vh - 20rem);
  overflow-y: scroll;
  position: relative;
}
.preview-reusable-box-table::-webkit-scrollbar {
  display: none;
}
.preview-reusable-box-table table {
  position: relative;
}
.preview-reusable-box-table table thead tr {
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: 10;
}

.path-two {
  stroke: var(--primary-color) !important;
  fill: unset !important;
}/*# sourceMappingURL=globals.css.map */